/.deps/
/.libs/
/build/
/Makefile
/config.h
/config.log
/config.status
/libtool
/rtbuf
/rtbuf-gtk
/rtbuf_music_type
/rtbuf_music_type.h
/rtbuf_signal_type
/rtbuf_signal_type.h
/rtbuf_sndio_type
/rtbuf_sndio_type.h
/rtbuf_synth_type
/rtbuf_synth_type.h
/stamp-*
*.la
*.lo
