.libs/
config.mk
/cli/rtbuf
/gtk3/rtbuf-gtk3
/gtk3/rtbuf_gtk3_resources.c
/lib/music_type
/lib/music_type.h
/lib/portaudio_type
/lib/portaudio_type.h
/lib/reverb_type
/lib/reverb_type.h
/lib/signal_type
/lib/signal_type.h
/lib/sndio_type
/lib/sndio_type.h
/lib/synth_type
/lib/synth_type.h
*.la
*.lo
