*.a
/cli/rtbuf
/cli/rtbuf_asan
/cli/rtbuf_cov
/cli/rtbuf_debug
config.mk
/doc/
.gdb_history
*.gcda
*.gcno
/gtk3/rtbuf_gtk3
/gtk3/rtbuf_gtk3_asan
/gtk3/rtbuf_gtk3_cov
/gtk3/rtbuf_gtk3_debug
/gtk3/rtbuf_gtk3_resources.c
*.la
*.lai
/lib/.*.log
/lib/*/.*.log
/lib/*_type
/lib/*_type.h
.libs/
*.lo
*.o
*.tmp
